.gradient {
  background: transparent linear-gradient(93deg, #030e39 0%, #1f0969 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.purple-clr{
  text-decoration: rgb(107, 8, 102);
}