.gradient {
  background: transparent linear-gradient(93deg, #030e39 0%, #1f0969 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.purple-clr {
  text-decoration: rgb(91, 25, 167);
}

.bg-mask {
  background-image: url("./assets/hero/bg-mask.svg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: right;
}

.brands-mask {
  background-image: url("./assets/hero/brands-mask.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: top right;
}

.drop-shadow {
  box-shadow: 0px 10px 50px #07070714;
}

.transparent-amazon {
  background: transparent url("./assets/hero/brands-LG.png") 0% 0% no-repeat
    padding-box;
}

.card-shadow {
  box-shadow: 0px 0px 20px #0000001a;
}

.reviews-bg {
  background-image: url("./assets/reviews/mask-bg.svg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: -10% 25%;
}

.features-bg {
  background-image: url("./assets/features/bg-mask.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: right;
  background-size: cover;
}

.pricing-bg {
  background-image: url("./assets/pricing/bg-mask.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: top center;
}

.subs-card-gradient {
  background: transparent linear-gradient(180deg, #53cde2 0%, #1a79af 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 26px #00000019;
}

.subs-card-sky {
  background: #0088c1 0% 0% no-repeat padding-box;
  clip-path: polygon(100% 0, 0 30%, 100% 100%);
  transform: rotateX(180deg);
}

.faqs-bg {
  background-image: url("./assets/faqs/bg-mask.png");
  background-repeat: no-repeat;
  object-fit: fixed;
  background-position-x: 60px;
  background-position-y: 22px;
  background-size: 25%;
}

.contact-shadow {
  box-shadow: 0px 0px 26px #0000001a;
}

.review-shadow {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001a;
}

.footer-bg {
  background-image: url("./assets/footer/footer-bg.png");
  background-repeat: no-repeat;
  object-fit: cover;
}

.swiper-pagination-bullet {
  height: 14px !important;
  width: 14px !important;
}

.swiper-pagination-bullet-hover {
  cursor: pointer !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
  color: #000000;
}

.swiper-slide {
  background: transparent;
}

@media screen and (max-width: 500px) {
  .brands-mask {
    background-position: top left;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-bg {
    background-position: -140% 25%;
  }
}

@media screen and (min-width: 1400px) {
  .reviews-bg {
    background-position: -200% 25%;
  }
}

@media screen and (min-width: 1470px) {
  .reviews-bg {
    background-position: -1400% 30%;
  }
}

@media screen and (min-width: 2000px) {
  .reviews-bg {
    background-position: 140% 30%;
  }

  .features-bg {
    background-image: url("./assets/features/bg-mask.png");
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: contain;
  }
}
